.system {
  background: #222222;
  &-header {
    width: 100%;
    position: fixed;
    &__navigation {
      padding-left: 270px;
      width: 100%;
      background-color: #1345db;
      .system-header__item--li,
      .system-header__item {
        color: #fff;
        padding: 10px 20px;
        font-weight: 500;
      }
      .system-header__item--li {
        padding-right: 71px;
        // background: #132aba;
      }
      .system-header__item:hover {
        background: #f73859;
      }
    }
  }
  &-wrapper {
    align-items: flex-start !important;
    width: 100%;
    // height: 100vh;
    .system-sidebar {
      flex-shrink: 0;
      max-width: 255px;
      height: 100vh;
      position: fixed;
      padding: 20px 30px;
      background: #fff;
      &__info {
        gap: 15px;
        margin-bottom: 20px;
        img {
          width: 50px;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
        .system-sidebar__detail {
          flex-direction: column;
          align-items: flex-start;
          font-weight: 600;
          font-size: 2rem;
          row-gap: 4px;
          .system-sidebar__phone {
            font-size: 1.2rem;
            color: #dadada;
            font-weight: 400;
          }
        }
      }
      &__code,
      &__price {
        font-size: 1.2rem;
        strong {
          font-size: 1.6rem;
        }
      }
      &__btn {
        margin-top: 20px;
        gap: 10px;
        &--price,
        &--post {
          font-weight: 600;
          border-radius: 4px;
          color: #212529;
          background-color: #ffc107;
          border-color: #ffc107;
          cursor: pointer;
          padding: 5px 10px;
        }
        &--post {
          color: #fff;
          background-color: #dc3545;
          border-color: #dc3545;
        }
      }
      &__control {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        a,
        &--span {
          color: #fff;
          font-size: 1.5rem !important;
          gap: 10px;
          border-bottom: 1px dashed #eee;
          padding: 15px 0;
          width: 100%;
        }
        &--span {
          border: unset;
          cursor: pointer;
          &:hover {
            color: #db1a13;
            text-shadow: 0px 1px 7px #db1a13;
            background: #dadada2e;
          }
        }
        .system-sidebar__control--active {
          color: #1345db;
          text-shadow: 0px 1px 7px #16377f;
        }
      }
    }
    .system-createPost {
      height: 100%;
      // flex-grow: 3;
      padding: 70px 50px 100px 290px;
      width: calc(100% - 0px);
      &__heading,
      .system-address__heading {
        font-size: 3.3rem;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: 2px solid #dadada;
      }
      .potUp {
        background: #452c2f;
        padding: 10px 17px;
        border: 1px solid #dadada;
        margin: 15px 0 35px 0;
        color: #721c24;
        font-size: 1.4rem;
        line-height: 1.3;
        border-radius: 3px;
      }
      &__box {
        align-items: flex-start;
        gap: 20px;
        &--inner {
          flex-grow: 1;
          flex-direction: column;
          row-gap: 20px;
          align-items: flex-start;
          width: 65%;
          // border: 1px solid;
          .system-createPost__address {
            width: 100%;
            .system-address__heading {
              font-size: 2.3rem;
              font-weight: 600;
              border: unset;
            }
            .system-address__select__box {
              flex-direction: column;
              row-gap: 40px;
              align-items: flex-start;
              &--inner {
                justify-content: space-between;
                width: 100%;
                &--small {
                  flex-direction: column;
                  align-items: flex-start;
                  row-gap: 8px;
                  label {
                    font-weight: 600;
                    font-size: 1.3rem;
                  }
                  select {
                    outline: none;
                    border: 0.5px solid #dadada;
                    background: #dadada99;
                    border-radius: 2px;
                    padding: 10px 20px;
                  }
                }
              }
              &--exactly {
                width: 100%;
                p {
                  font-weight: 600;
                }
                input {
                  width: 100%;
                  padding: 10px 10px;
                  margin-top: 10px;
                  background: #dadada58;
                  border-radius: 3px;
                  outline: none;
                }
              }
            }
          }
          .system-create__overview {
            width: 100%;
            .select--error {
              margin-top: 8px;
            }
            .create-overview {
              &__heading {
                margin: 40px 0;
                font-size: 2.3rem;
              }
              .overview-type {
                .system-address__select__box--inner--small {
                  flex-direction: column;
                  align-items: flex-start;
                  width: 100%;
                }

                .select {
                  width: 50%;
                  padding: 10px;
                  outline: unset;
                  border: 0.5px solid #dadada70;
                  border-radius: 3px;
                  margin-top: 10px;
                }
                &__input--box {
                  flex-direction: column;
                  align-items: flex-start;
                  row-gap: 5px;
                  margin-top: 40px;
                  margin-bottom: 40px;
                  input,
                  textarea {
                    padding: 5px 15px;
                    width: 100%;
                    font-size: 1.8rem;
                    background: transparent;
                    border-radius: 3px;
                    transition: 0.5s;
                    outline: none;
                    &:focus {
                      border: 2px solid #133bdb9a;
                    }
                  }
                  .setting {
                    width: 100%;
                  }
                  .setting1 {
                    width: 50%;
                    position: relative;
                    span {
                      position: absolute;
                      right: 1px;
                      top: 2px;
                      font-weight: 600;
                      color: #dadada;
                      background-color: #dadada;
                      padding: 10px;
                    }
                    small {
                      font-size: 1.1rem;
                      color: #dadadab1;
                      position: relative;
                      top: 4px;
                    }
                  }
                  .contactInfo,
                  .phone {
                    width: 50%;
                    background: #dadada25;
                  }
                  .price,
                  .acreage {
                    background: transparent;
                  }
                }
              }
              .overview-image {
                margin-top: 50px;
                max-width: 100%;
                &__heading {
                  margin: 60px 0 20px 0;
                  font-size: 2.3rem;
                }
                &__introduce {
                  margin-bottom: 10px;
                  font-size: 1.3rem;
                  color: #dadadab2;
                  display: block;
                }
                &__file {
                  label,
                  .loading {
                    display: block;
                    border: 3px dashed #fff;
                    border-radius: 8px;
                    width: 100%;
                    text-align: center;
                    font-size: 15rem;
                    span {
                      font-size: 2rem !important;
                      text-align: center;
                      display: block;
                      position: relative;
                      top: -25px;
                    }
                  }
                  .loading {
                    font-size: 1.8rem;
                    padding: 40px 0;
                    span {
                      display: block;
                      margin-top: 25px;
                      font-size: 1.5rem;
                      font-weight: 700;
                    }
                  }
                  input {
                    display: none;
                  }
                }
                .preview {
                  gap: 5px;
                  margin-top: 10px;
                  // flex-wrap: wrap;
                  overflow-x: auto;
                  &-images {
                    position: relative;
                    width: 150px;
                    min-width: 150px;
                    aspect-ratio: 4 / 3; // auto height
                    border-radius: 5px;
                    gap: 5px;
                    overflow: hidden;
                    svg {
                      position: absolute;
                      width: 100%;
                      bottom: 0;
                      background-color: #0000008c;
                      cursor: pointer;
                      font-size: 2rem;
                    }
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      cursor: pointer;
                      object-position: center;
                      transition: 0.5s;
                      &:hover {
                        scale: 1.2;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &--map {
          // border: 1px solid;
          // flex-grow: 2;
          width: 30%;
          min-width: 20%;
          .create__map--inner {
            flex-direction: column;
            row-gap: 30px;
            .map__detail {
              width: 100%;
              height: 250px;
              border-radius: 5px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .map__title__box {
              padding: 30px;
              background: #2d2603a3;
              color: #da9811;
              border: 1px solid #dadada84;
              border-radius: 5px;
            }
            .map__title--heading {
              font-size: 2rem;
              font-weight: 600;
              margin-bottom: 15px;
              position: relative;
              left: -19px;
            }
            .map__title {
              &__content {
                list-style-type: square;
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      &__btn {
        width: 68%;
        background: rgb(2, 138, 2);
        display: flex;
        justify-content: center;
        font-weight: 600;
        margin: 70px 0;
        font-size: 1.8rem;
        transition: 0.3s;
        &:hover {
          text-decoration: none;
          box-shadow: 1px 0px 28px rgba(9, 164, 40, 0.732);
        }
      }
    }

    .system-manage {
      height: 100%;
      padding: 70px 50px 100px 290px;
      width: calc(100% - 0px);
      .manage__heading__box {
        justify-content: space-between;
        .manage__heading {
          font-size: 3rem;
        }
        padding-bottom: 20px;
        margin-bottom: 15px;
        border-bottom: 1px solid;
        .manage__control{
          select{
            padding: 3px 6px;
            outline: none;
            border: none;
            border-radius: 3px;
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      &__table {
        width: 100%;
        border: 2px solid;
        .table__title {
          .table__title-box{
            border: 1px solid;
            padding: 10px;
            height: 60px;
            justify-content: center;            
            p{
              font-weight: 600;
              font-size: clamp(1.6rem, 1.8rem, 2rem);
            }
          }
        }

        .table__content {
          flex-direction: column;
          align-items: flex-start;
          .missApi {
            padding: 10px;
          }
          width: 100%;
          &-box {
            width: 100%;
            .code,
            .img,
            p {
              border: 1px solid;
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              padding: 0 5px;
              text-align: center;
            }
            img {
              width: 50%;
              aspect-ratio: 2/2;
              object-fit: cover;
            }
          }
        }
        .price,
        .day-start,
        .day-end {
          width: 11%;
        }
        .img {
          width: 10%;
        }
        .code {
          width: 6%;
          color: #000;
        }
        .title {
          width: 29%;
        }
        .status {
          width: 16%;
        }
        .price,
        .day-end,
        .day-start,
        .img,
        .code,
        .title,
        .status, .setting{
          min-width: 60px;
          line-height: 1.4;
        }
        .setting{
          width: 8%;
          border: 1px solid;
          height: 100px;
          font-weight: 600;
          padding: 5px;
          justify-content: space-around;
          min-width: 97px;
          &__btn--config{
            background: green;
          }
          &__btn--delete{
            background: rgb(224, 15, 15);
          }
        }
      }
    }

    .edit-account--wrapper{
      padding: 70px 50px 100px 290px;
      width: calc(100% - 0px);
      .edit-account__heading{
        font-size: 2.8rem;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: 2px solid #dadada;
      }
      .edit-account__info--box{
        flex-direction: column;
        margin-top: 100px;
        align-items: flex-start;
        row-gap: 15px;
        .overview-type__input--box{
          width: 100%;
          gap: 1%;
          justify-content: center;
          label{
            width: 130px;
          }
          .password{
            width: 46%;
          }
          .setting{
            width: 45%;
            input{
              width: 100%;
              padding: 10px 20px;
              font-size: 1.7rem;
              border: 0.5px solid #dadadadb;
              border-radius: 5px;
              transition: 0.3s;
              &:focus{
                border: 0.7px solid #1345db;
              }
            }
            .phone-config{
              position: relative;
              top: 8px;
              font-size: 1.4rem;
              font-weight: 500;
              transition: 0.3s;
              &:hover{
                color: rgb(207, 28, 28);
              }
            }
          }
        }
      }
      .edit-account__info--box1{
        row-gap: 25px;
        input{
          background-color: transparent;
        }
        .zalo{
          background: #dadada30;
          border: none;
        }
      }
      .overview-type__input--box2{
        margin-top: 20px;
        a{
          font-size: 1.6rem;
          font-weight: 600;
          transition: 0.3s;
          &:hover{
            color: rgb(207, 28, 28);
          }
        }
      }
      
      .overview-type__input--box3{
        align-items: flex-start;
        margin-top: 60px;
        .image__user{
          flex-direction: column;
          align-items: flex-start;
          
          width: 46%;
          img{
            width: 30%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 2/2;
            margin-bottom: 10px;
            border: 5px solid;
          }
        }
      }
      .edit-account__btn{
        width: 60%;
        text-decoration: none;
        font-weight: 600;
        border-radius: 999px;
        justify-content: center;
        // margin-top: 70px;
        margin: 70px auto 0 auto;
      }
    }

    .loading_box{
      position: fixed;
      z-index: 999;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      width: 100%;
      height: 100vh;
      background-color: #00000078;
      .progress{
        
     }

    }
  }
}
.select--error {
  color: red;
  font-size: 1.2rem;
}

