.home-list__sidebar__control {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  // heading
  .sidebar__heading {
    font: {
      weight: 700;
      size: 1.6rem;
    }
    margin-bottom: 15px;
  }

  // menu
  .sidebar-menu {
    &__item {
      font: {
        size: 1.4rem;
        weight: 400;
      }
      color: #333;
    }

    // menu box
    &__wrapper {
      justify-content: space-between;

      .sidebar-menu__box {
        justify-content: space-between;
        border-bottom: 1px dashed;
        .sidebar-menu__box--inner {
          margin: 10px 0;
          cursor: pointer;
          .sidebar-menu__item:hover {
            color: #cb260e;
          }
        }
      }
      .sidebar-menu__box:last-child {
        border: unset;
      }

      .sidebar-menu__statis {
        color: #33333375;
      }
    }

    // prices
    &__wrapper.prices {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .sidebar-menu__box {
        width: 45%;
        border-bottom: 1px dashed;
      }
    }
    // acreages
    &__wrapper.acreages {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .sidebar-menu__box {
        width: 45%;
        border-bottom: 1px dashed;
      }
    }
  }
}
.home-list__relatedPost {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid;
  .relatedPost-item {
    margin: 30px 0;
    overflow: hidden;
    gap: 4%;
    .relatedPost-image {
      height: 65px;
      width: 21%;
      border-radius: 5px;
      overflow: hidden;
      flex-shrink: 0;
      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .relatedPost-box{
      flex-grow: 1;
      width: 75%;
      &__title{
        color: #055699;
        font: {
          weight: 400;
          size: 1.4rem
        };
        cursor: pointer;
        &:hover{
          color: #cb260e;
        }
        line-height: 1.3;
        -webkit-line-clamp: 2;
        margin-bottom: 15px;
      }
      &__inner{
        justify-content: space-between;
        &__price{
          strong{
            font: {
              size: 1.3rem;
            };
            color: #16c784;
          }
        }
        &__createdAt{
          color: #ffffff84;
        }
      }
    }
  }
}

.info-user{
  gap: 10px;
  margin-right: 25px;
  &__image{
    width: 50px;
    height: 80%;
    border: 1px solid;
    border-radius: 50%;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__wrapper{
    font-size: 1.45rem;
    flex-direction: column;
    row-gap: 3.5px;
    align-items: start !important;
    strong{
      font-size: 1.7rem;
      font-weight: 600;
    }
    a{
      color: #b7b1b1;
      &:hover{
        color: #051199 !important
      }
    }
  }
}

.update-post{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  // height: 100vh;
  background: #dadada58;
  justify-content: center;
  align-items: flex-start !important;
  overflow: auto;
  &__wrapper{
    width: clamp(1000px, 70%, 1200px);
    background: #fff;
    .system-createPost{
      border-radius: 10px;
      padding: 30px 20px 50px 20px !important;
      height: 100vh;
      .row{
        justify-content: space-between;
        .update-post__heading{
        padding: unset;
        border: unset;
       }
       .close-icon{
        font-size: 2.8rem;
        &:hover{
          cursor: pointer;
        }
       }
      }
    }
  }
  .update-post__submit{
    width: 100%;
    background: #16c784;
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    justify-content: center;
  }
  .system-createPost__btn{
    width: 100% !important;
  }
}