* {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "poppins";
}
// common
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.ellipsis-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
label {
  cursor: pointer;
  font-weight: 600;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.row {
  display: flex;
  align-items: center;
}
.row__inline {
  display: inline-flex;
  align-items: center;
}
.cursor {
  cursor: pointer;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
.btn {
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  &:hover {
    text-decoration: underline;
  }
}
span {
  font-size: 1.2rem !important;
  color: #dadada;
}
//end common

.home {
  width: 100%;

  // home header
  &-header {
    justify-content: space-between;
    .btn-box {
      gap: 10px;
      position: relative;
      &__login {
        background-color: #1266dd;
      }
      &__register {
        background-color: #f73859;
      }
      &__manage {
        background-color: #122add;
      }
      &__manage__model {
        position: absolute;
        top: 45px;
        right: 95px;
        z-index: 9999;
        background-color: #fff;
        border-radius: 8px;
        flex-direction: column;
        overflow: hidden;
        justify-content: start;
        padding: 10px 0;
        .cursor {
          padding: 15px 20px;
          width: 100%;
          color: #fff;
          gap: 10px;
          &:hover {
            background-color: #dadada;
            color: #f73859;
          }
        }
      }
      &__news {
        border: 1px solid;
        text-decoration: underline;
        transition: 0.5s;
        &:hover {
          background-color: #d2465d;
        }
      }
    }
  }

  // home login
  &-wrapper {
    // margin: 0 auto;
    .home-login__wrapper {
      margin: 10px auto 0 !important;
      background-color: #fff;
      width: 50%;
      border-radius: 10px;
      padding: 30px 30px 100px;
      border: 1px solid #dedede;
      .home-login__title {
        color: #333;
        font-size: 2.8rem;
        margin-bottom: 2rem;
      }

      .home-login__control {
        width: 100%;
        input {
          width: 100%;
          outline: none;
          background-color: transparent;
          font-size: 2rem;
          padding: 7px 10px;
          border-radius: 3px;
          margin: 10px 0;
        }
        label {
          font: {
            size: 1.7rem;
            weight: 600;
          }
          color: #dfdfdf;
          letter-spacing: 0.5px;
        }
        .home-login__error {
          color: red;
          display: block;
          font: {
            size: 1.2rem;
            style: italic;
          }
          position: relative;
          top: -5px;
          left: 2px;
          margin-bottom: 1.6rem;
        }
      }

      .home-login__btn {
        width: 100%;
        height: 45px;
        background-color: #1266dd;
        justify-content: center;
        font-weight: 700;
        margin: 20px 0 40px 0;
        transition: 0.3s;
        &:hover {
          box-shadow: rgba(57, 96, 251, 0.762) 0px 7px 29px 0px;
        }
      }

      .home-login__option {
        justify-content: space-between;
        margin: 0 10px;
        .home-login__ask-login,
        .home-login__ask-register {
          color: #1266dd;
          font-size: 1.4rem !important;
          cursor: pointer;
          transition: 0.1s;
          &:hover {
            color: #a73800;
          }
        }
      }
    }
  }

  // home navigation
  &-nav {
    width: 100%;
    background-color: #1266dd;
    margin-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    &__list {
      justify-content: space-between;
      .home-nav__item {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        font: {
          weight: 500;
          size: 1.3rem;
        }
        a {
          display: block;
          color: #fff;
          padding: 12px 15px;
          text-overflow: ellipsis;
          &:hover {
            background-color: #f73859;
          }
        }
      }
      .home-nav__item.active {
        background-color: #f73859;
      }
    }
  }

  // province
  .province-box {
    max-width: 611px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2rem;
    &__inner {
      border-radius: 10px;
      overflow: hidden;
      width: 31.1%;
      height: 15rem;
      background-color: #fff;
      &:hover .province-box__title {
        color: #fb4e38;
      }
      .province-box__img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
      }
      .province-box__title {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        color: #0071c2;
        font: {
          size: 1.4rem;
          weight: 700;
        }
      }
    }
  }
}

.messAndSporter {
  position: fixed;
  bottom: 90px;
  right: 25px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #f83859;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
